<div>
    <h3> Showing search results for : {{searchVal }}  </h3>
    <table class="table-is-striped">
        <thead >
            <tr>
                <th>Page Id</th>
                <th>Title</th>
                <th>Word Count</th>
                <th>Snippet</th>
                <th *ngIf="actionHide"><div >Actions</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let page of pages">
                <td>{{page.pageId}}</td>
                <td>
                    <a 
                    target="_blank"
                    [href]=" 'https://en.wikipedia.org?curid=' + page.pageId ">
                        {{page.title}}
                    </a>
                </td>
                <td>{{page.wordCount}}</td>
                <td [innerHTML]="page.snippet"></td>
                <td *ngIf="actionHide" ><div ><button (click)="onDelRequest(page.pageId)">Delete</button></div></td>
            </tr>
        </tbody>
    </table> 
    </div>