/* You can add global styles to this file, and also import other style files */
.footer1{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    text-align: center;
    margin: auto;
    background-color: lightgrey;

    position: absolute bottom;
    vertical-align: bottom;
}

.footer1.LI-badge-container.vertical.dark .LI-header {
    padding-top: 15px;
    margin-top: 50px;
}
.footer1.LI-badge-container.vertical.dark .LI-header {
    margin: 0 10px;
}